/*CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Utilities */
.flex{
    display:flex;
}

.flex-column{
    flex-direction: column;
}


input{
    border-color:rgba(215, 215, 205);
    background: transparent;
    margin:14px;
    border-style:solid;
}


/* first page images*/

.input-login{
    border-radius:18px;
    height:50px;
}

.images{
   justify-content: center;
   align-items: center;
   background-image:url("../Images/first-page.png");
   width:50%;
   height:100vh;
}

.small-logo{
    height:30px;
    align-self:flex-start;
    margin-top:2rem;
}

.big-logo{
    width:45%;
    height:350px;
}

.header-login{
    font-size:70px;
}

.header{
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin-top:2rem;
}


.parag{
    font-size:30px;
    margin-top:2rem;
    margin-bottom:2rem;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


/* Button */

.btn{
    background-color: rgb(29,155,240);
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size:30px;
    color:white;
    border: 0 solid black;
    box-sizing:border-box;
    font-weight:700;
    border-radius:60px;
    width:50%;
    height:50px;
    align-self: center;
    margin:17px;
}

.log-in{
    justify-content:space-between;
}

.log-in > label{
    font-weight:600;
    font-size:25px;
    align-self:flex-start;
    padding-left:16px;
}

.log-in-section{
    padding: 0 14px;
}

.btn-header{
    align-self: center;
}

.btn-white{
    background-color: white;
    color: rgb(29,155,240);
    border-color:rgba(215, 215, 205);
    border:1px solid;
}

.on-off{
    display:none;
}

/* btn sign up  */

.click-me
{
  display:block;
  width:160px;
  height:50px;
  text-align:center;
  font-size:22px;
  line-height:50px;
  cursor:pointer;
}
#click
{
  display:none;
}
.click-me:hover
{
  color: #0a5878;
}

/* Sign up page */

.popup{
    width: 400px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top o.4s;
}

.open-popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%,-50%) scale(1);
}









.header-second-page{
    font-size: 1.5rem;
}


.header-date{
    font-size:14px;
}

.input-signup{
    border-radius:18px;
    height:40px;
    width:48%;
    padding: 1rem;
    margin: 0 !important;
    margin-top: 1rem !important;
}

.sign-up{
    width:50%;
    padding: 2rem;
}

.date::placeholder{
    margin:0 5px;
}

.parag-date{
    font-family: inherit;
    font-size:16px;
    color:rgb(29,155,240);
    margin-top: 1rem;
}

.date-bio-padding{
    padding:.5rem;
}

.bio{
    width:70%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(107, 158, 233);
    margin: 0 !important;
}

.bio-label{
    font-weight:700;
    font-size:14px;
}

@media only screen and (max-width: 768px) {
    .images {
        display: none;
    }
    .sign-up{
        width: 100%;
        padding: 1rem;
    }
    .input-signup{
        width: 100%;
    }
    .bio {
        width: 100%;
    }

}